@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,600&display=swap');

:root{
  --pink: hsl(322, 100%, 66%)
  --lightpink: hsl(321, 100%, 78%)
  --lightred: hsl(0, 100%, 63%)
  --verydarkcyan: hsl(192, 100%, 9%)
  --erypaleblue: hsl(207, 100%, 98%)
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.main-header {
  background: url(images/bg-hero-desktop.svg);
  background-size: contain;
  background-repeat: no-repeat;
}